<div class="panel panel-default table-responsive" {{ component.height ? ('style="height:' ~ component.height ~ 'px"') | raw }}>
    {% if component.header %}
        <div class="panel-heading">
            {{ component.header | raw }}
        </div>
    {% endif %}

    <div class="panel-body">
        <table class="table table-bordered table-striped table-hover">
            {% if component.columns %}
                <thead>
                <tr>
                    {% for column in component.columns %}
                        <th {{ column.width != 'auto' ? ('style="width:'~column.width~'"') | raw }}>
                            {% if column.sortable_column_name %}
                                <a
                                    href="#"
                                    class="sortable-column"
                                    js-sortable-column
                                    data-sortable-column-name="{{ column.sortable_column_name }}"
                                    data-sortable-column-direction="{{ column.sortable_column_direction }}"
                                    data-sortable-column-direction-mode="{{ column.sortable_column_direction_mode }}"
                                    data-sortable-column-default="{{ column.sortable_column_default ? 1 : 0 }}"
                                >
                                    {{ column.value }}
                                </a>
                            {% else %}
                                {{ column.value }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
            {% endif %}
            <tbody></tbody>
        </table>
    </div>


</div>