<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic|Noto+Sans:400,400italic,700italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/creonitadmin/css/vendor.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/creonitadmin/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/creonitadmin/css/admin.css') }}">
    {% endblock %}

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">



</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">




    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {{ render(controller('CreonitAdminBundle:Layout:menu')) }}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{ render(controller('CreonitAdminBundle:Layout:header')) }}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>


{% block javascripts %}
    <script src="{{ asset('bundles/creonitadmin/js/vendor.js') }}"></script>
    <script src="{{ asset('bundles/creonitadmin/js/admin.js') }}"></script>
    <script src="{{ asset('bundles/creonitadmin/js/common.js') }}"></script>
{% endblock %}

</body>
</html>

