<ul class="nav nav-sidebar">

    <li>
        <a href="/">
            {% if admin.icon %}
                <i><img src="{{ admin.icon }}" alt=""></i>
            {% else %}
                <i class="fa fa-home"></i>
            {% endif %}
            
            <span>{{ admin.title | raw }}</span>
        </a>
    </li>

    {% for module in admin.getModules %}
        {% if module.isVisible and module.checkPermission(app.user) %}
            <li {{ module.isActive ? 'class="active"' }}>
                <a href="{{ url('creonit_admin_module', {module: module.getUri}) }}">
                    <i class="fa fa-{{ module.getIcon }}"></i>
                    <span>{{ module.getTitle }}</span>
                </a>
            </li>
        {% endif %}

    {% endfor %}
</ul>